/* 
    Document   : contact
    Created on : Feb 17, 2013, 1:22:06 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url("images/strange_bullseyes.png");
    margin:0px;
    font-size:	120%;
    
}

#contact {
    background-color: #1077C1;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 5px 12px 20px #4E4E4E, 0 0 47px gainsboro;
    color: #FFFFFF;
    height: auto;
    margin-left: 40%;
    margin-top: 6%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-top: 2%;
    position: relative;
    text-align: left;
    width: 20%;
    
}

#kef{
    width:77%;
    border-bottom: 1px solid #FFFFFF;   
}

@media only screen and (max-width: 1200px) {
    #contact{
        width:30%;
        margin-left: 30%; 
            
    }
}

@media only screen and (max-width: 1000px) {
    #contact{
        width:40%;
        margin-left: 30%; 
            
    }
}

@media only screen and (max-width: 570px) {
    #contact{
        width:60%;
        margin-left: 20%; 
            
    }
    
}

@media only screen and (max-width: 480px) {
    #contact{
        width:80%;
        margin-left: 1%; 
            
    }
}