/* 
    Document   : prebook
    Created on : Feb 17, 2013, 10:50:30 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/
body{
      background-image: url("images/strange_bullseyes.png");
    margin: 0;
    
}


#booking{
 background-color: #1077C1;
    border-radius: 10px;
    box-shadow: 5px 12px 20px #4E4E4E, 0 0 47px gainsboro;
    color: #FFFFFF;
    height: auto;
    margin-left: 25%;
    margin-top: 2%;
    padding-bottom: 6%;
    padding-left: 13%;
    padding-top: 5%;
    position: relative;
    text-align: left;
    width: 49%;
}


@media only screen and (max-width: 1500px) {
    #booking{
        width:59%;
        margin-left: 20%;
	 padding-left: 10%;
            
    }
}

@media only screen and (max-width: 1200px) {
    #booking{
        width:65%;
        margin-left: 14%;
	 padding-left: 7%;
            
    }
}


@media only screen and (max-width: 1000px) {
    #booking{
        width:75%;
        margin-left: 10%;
	 padding-left: 4%; 
            
    }
}

@media only screen and (max-width: 900px) {
    #booking{
        width:83%;
        margin-left: 5%;
	padding-left:2%;	 
            
    }
    
}

@media only screen and (max-width: 780px) {
    #booking{
        width:100%;
        margin-left: 0%; 
            
    }

